node_modules/
.idea/
.mta/
*.mtar
dist/
package-lock.json
mta_archives/
deployer/resources/
Makefile*
mta-*
approuter/*/webapp/
approuter/node_modules
.DS_Store
uimodule/.DS_Store
uimodule/webapp/.DS_Store
